.hero {
    position: relative;
    height: 100vh;
    background: url('../../../assets/img/hero.jpg') no-repeat center center/cover;
} 
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color de superposición */
    display: flex;
    justify-content: center;
    align-items: center;
}  
.hero-columns {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}  
.column {
    flex: 1;
}
.column-text {
    color: white;
    font-size: 1.5rem;
}  
.column-text h2{
    margin: 0 !important;
    padding: 5px;
}
.column-text h1{
    margin: 0 !important;
    padding: 5px;
}
.column-text p{
    margin: 0 !important;
    padding: 5px;
}
.redesHero{
    display: flex;
    margin-top: 20px;
}
.RedHero{
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: baseline;
}
.RedHero p{
    margin-left: 5px !important;
}
.RedHero p:hover{
    text-decoration: underline 3px;
}
.fab{
    color: #fff;
}
.column-empty {
    background: none;
}

@media (max-width: 991px) {
    .column-empty {
      display: none;
    }
  }
  